<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.modules.sys.dao.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.base.modules.sys.entity.Permission">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="desc" property="desc" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getPermissionsByRoleId" parameterType="int"
		resultMap="BaseResultMap">
		SELECT a.`id`, a.`name`, a.`sign`, a.`desc` FROM t_permission a LEFT JOIN
		t_role_permission b ON a.`id` = b.`permissionId` LEFT JOIN t_role c ON
		b.`roleId` = c.`id` WHERE c.`id` = #{id}
	</select>

	<insert id="insert" parameterType="com.base.modules.sys.entity.Permission">
		insert into t_permission (id, name, sign,
		desc)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{sign,jdbcType=VARCHAR},
		#{desc,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.base.modules.sys.entity.Permission">
		insert into t_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="sign != null">
				sign,
			</if>
			<if test="desc != null">
				desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="sign != null">
				#{sign,jdbcType=VARCHAR},
			</if>
			<if test="desc != null">
				#{desc,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>